# Terraform
.terraform/
*.tfstate
*.tfstate.backup

# Large binaries
*.zip
terraform/ec2/bin/
terraform/iam/roles/.terraform/

# Executables
q
qterm
qchat
q-binary

# AI Assistant Documentation
.ai/
CLAUDE.md

# trading
trading/
